# Ignore `build` contents.
/build/**/*
!/build/.gitkeep

# Ignore `archive` contents.
/archive/**/*
!/archive/.gitkeep

# Miscellaneous.
.DS_Store

# Ignore notes.
notes.md

# Ignore temporary files.
**/tmp*

# Ignore editor files.
.vscode
